.mod-content {
	padding-top: 0;
  .contentvlak {
	  padding: 20px;
	  .subtitel {
		  text-transform: uppercase;
		  font-weight: 400;
		  font-family: "Source Sans Pro";
		  border-bottom: 2px solid $orange;
		  color: $orange;
		  display: inline-block;
		  padding-bottom: 10px;
		  margin-bottom: 20px;
		  margin-top: -4px;
	  }
	  h2 {
		  margin-bottom: 20px;
	  }
  }
  .card-body {
	  img {
		  display: block;
	    max-width: 100%;
	    height: auto;
	    margin: 0 auto 10px;
	  }
  }
  .carousel-control-prev,
  .carousel-control-next {
		i {
			color: #fff;
			text-shadow: 0px 2px rgba(0,0,0,0.2)
		} 
	}
}

@include media-breakpoint-up(md) {
  .mod-content {
   	.contentvlak {
		  padding: 34px 40px 40px;
		  p {
			  margin-bottom: 20px;
		  }
	  }
	  .card-body {
		  img {
			  display: block;
		    max-width: 100%;
		    height: auto;
		    margin: 0 auto 20px;
		  }
	  }
  }
}
@include media-breakpoint-up(lg) {
  .mod-content {
		.contentvlak {
		  padding: 60px 60px 60px;
		  p {
			  margin-bottom: 30px;
		  }
	  }
	  .card-body {
		  img {
			  display: block;
		    max-width: 100%;
		    height: auto;
		    margin: 0 auto 30px;
		  }
	  }
  }
}