.mod-linkblokken {
	.card {
		font-size: 16px;
		line-height: 24px;
		color: $grey;
	}
	.image {
		position: relative;
		overflow: hidden;
		margin-bottom: -15px !important;
		z-index: -1;
		&:after {
			position: absolute;
			bottom: -1px;
			left: -1px;
			right: -1px;
			height: 50px;
			content: '';
			background: url(../images/wave-greylight.svg);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-position: bottom center;
		}
	}
	.social {
		a {
			color: $orange;
			margin: 0 10px 10px 0;
			display: inline-block;
			padding: 0;
			i {
				font-size: 20px;
			}
		}
	}
}