.home {
	.mod-pageheader {
		height: 400px;
	}
}

.mod-pageheader {
	position: relative;
	transition: 0.2s ease-in-out;
	text-align: center;
	background: rgba(0, 0, 0, .1);
	color: #fff;
	padding: 50px 0 90px;
	overflow: hidden;
	height: 280px;
	margin-bottom: -30px;

	&:after {
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		height: 80px;
		content: '';
		background: url(../images/wave-greylight.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom center;
	}

	.theimage {
		display: block;
		width: 200px;
		margin: 0 auto 15px;
		opacity: 0;
		transition-delay: .8s;
		transition: 0.6s ease-in-out;
	}

	.bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background-size: cover;
		background-position: center center;
	}

	.scrolldown {
		position: absolute;
		bottom: 120px;
		width: 44px;
		height: 44px;
		left: 50%;
		margin-left: -22px;
		display: block;
		cursor: pointer;
		opacity: 0;
		transition: 0.6s ease-in-out;
		transition-delay: 1s;
		z-index: 9;
		border: 0;
	}

	.h1 {
		opacity: 0;
		transition-delay: 1s;
		transition: .8s ease-in-out;
		text-transform: inherit;
		color: #fff;
	}
}

.loaded .mod-pageheader {
	.theimage {
		opacity: 1;
	}

	.h1 {
		transform: translateY(0);
		opacity: 1;
	}

	p {
		transform: translateY(0);
		opacity: 1;
	}

	.scrolldown {
		bottom: 50px;
		opacity: 1;
	}
}

@include media-breakpoint-up(md) {
	.loaded .mod-pageheader {
		.scrolldown {
			bottom: 120px;
			opacity: 1;
		}
	}
	
	.home {
		.mod-pageheader {
			height: 600px;
			.container {
				margin-bottom: 100px;
			}
		}
	}
	
	.mod-pageheader {
		padding: 40px 0 60px;
		margin-bottom: -100px;
		min-height: 0;
		height: 440px;

		&:after {
			height: 160px;
		}

		.container {
			margin-bottom: 140px;
		}

		.theimage {
			width: 380px;
			display: block;
		}

		.h1 {
			margin-bottom: 0;
		}

		.scrolldown {
			bottom: 120px;
		}
	}
}

@include media-breakpoint-up(lg) {
	.loaded .mod-pageheader {
		.scrolldown {
			bottom: 196px;
			opacity: 1;
		}
	}
	
	.home {
		.mod-pageheader {
			height: 730px;
		}
	}

	.mod-pageheader {
		padding: 60px 0 120px;
		margin-bottom: -140px;
		height: 600px;

		&:after {
			height: 250px;
		}

		.theimage {
			width: 520px;
		}

		.scrolldown {
			bottom: 160px;
		}
	}
}