.mod-werkgebieden {
	background: #fff;
	padding-top: 80px !important;
	&:first-child {
		padding-top: 30px !important;
	}
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		content: '';
		height: 700px;
		background-image: url(../images/bg-mm.svg);
		background-position: top center;
		background-repeat: repeat-x;
		z-index: 0;
	}
	.card {
		z-index: 1;
		margin: 0 -20px;
		background: rgba(255,255,255,.78);
	}
	.cases {
		margin: 0 -7.5px;
		.case {
			display: inline-block;
			padding: 0 7.5px;
			float: left;
			margin-bottom: 15px;
			width: 100%;
			a {
				width: 100%;
				padding-top: 75%;;
				
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.mod-werkgebieden {
		&:first-child {
			padding-top: 80px !important;
		}
		.card {
			margin: 0 -60px;
		}
		.cases {
			margin: 0 -7.5px;
			.case {
				display: inline-block;
				padding: 0 7.5px;
				float: left;
				margin-bottom: 15px;
				a {
					padding: 0;
					height: 100%;
				}
				&:nth-child(5n+1) {
					width: 66.66%;
					height: 400px;
				}
				&:nth-child(5n+2) {
					width: 33.34%;
					height: 400px;
				}
				&:nth-child(5n+3) {
					width: 30%;
					height: 300px;
				}
				&:nth-child(5n+4) {
					width: 40%;
					height: 300px;
				}
				&:nth-child(5n+5) {
					width: 30%;
					height: 300px;
				}
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.mod-werkgebieden {
		.cases {
			margin: 0 -7.5px;
			.case {
				display: inline-block;
				padding: 0 7.5px;
				float: left;
				margin-bottom: 15px;
				&:nth-child(5n+1) {
					width: 66.66%;
					height: 440px;
				}
				&:nth-child(5n+2) {
					width: 33.34%;
					height: 440px;
				}
				&:nth-child(5n+3) {
					width: 30%;
					height: 340px;
				}
				&:nth-child(5n+4) {
					width: 40%;
					height: 340px;
				}
				&:nth-child(5n+5) {
					width: 30%;
					height: 340px;
				}
			}
		}
	}
}