<section class="mod-blog bg-white">
	<div class="container">
		<data-aos="fade-up" data-aos-duration="800">
			<div class="text-center">
				{% if item.titel %}
					<h2> {{ item.titel }}</h2>
				{% endif %}
			</div>
			{% if item.uitgelichte_artikelen %}
				<div class="row g-2">
					{% for post in item.uitgelichte_artikelen %}
						<div class="col-lg-4 mb-3">
							{% include 'tease-blog.twig' %}
						</div>
					{% endfor %}
				</div>
			{% endif %}
			{% if item.link %}
				<div class="clearfix"></div>
				<div class="text-center">
					<a href="{{ item.link.url }}" class="btn btn-secondary"> {{ item.link.title }} </a>
				</div>
			{% endif %}
		</div>
	</div>
</section>