<section class="mod-lead" data-aos="fade-in" data-aos-duration="800">
  <div class="container">
  	<div class="row">
	  	<div class="col-md-10 offset-md-1">
		    <span class="lead">
		    	{{ item.lead }}
		    </span>
	  	</div>
  	</div>
  </div>
</section>