<section class="mod-logos bg-white">
	<div class="container">
		{% if item.logos %}
			<div class="row g-2">
				{% for logo in item.logos %}
					<div class="col-4 col-md">
						<div class="logo-holder">
							<div class="logo ratio-4x3 w-100 bg-contain" style="background-image: url({{ Image(logo.afbeelding).url }})"></div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</section>