<section class="mod-werkgebieden bg-white">
	<div class="container">
		<div class="card">
			<div class="card-body" data-aos="fade-up" data-aos-duration="800">
				<div class="text-center">
					{% if item.titel %}
						<h2> {{ item.titel }}</h2>
					{% endif %}
				</div>
				{% if item.uitgelichte_case %}
					<div class="cases">
						{% for post in item.uitgelichte_case %}
							<div class="case">
								{% include 'tease-meesterwerk.twig' %}
							</div>
						{% endfor %}
					</div>
				{% endif %}
				{% if item.link %}
					<div class="clearfix"></div>
					<div class="text-center">
						<br>
						<a href="{{ item.link.url }}" class="btn btn-secondary"> {{ item.link.title }} </a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>