{% extends "base.twig" %}

{% block content %}

<section class="mod-werkgebieden bg-white">
	<div class="container">
		<div class="card bg-white">
			<div class="card-body">
				<div class="row mb-2 mb-md-4">
					<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
						<h2 class="mb-2"> Wat ons drijft </h2>
						{% if options.watonsdrijft_toelichting %}
							<p> {{ options.watonsdrijft_toelichting }}</p>
						{% endif %}
					</div>
				</div>
				<div class="row">
					{% for post in posts %}
						<div class="col-md-4">
							{% include 'tease-blog.twig' %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}