<div class="mod-mobilemenu d-flex align-items-center">
	<div class="logo">
		<div class="container-fluid">
	    <div class="row">
	      <div class="col-md-4">
					<div class="logo" role="banner">
						<a class="logo-link" href="{{site.url}}" rel="home">
						  <img src="{{ options.footer_logo }}" alt="logo" width="25" height="25">
						</a>
					</div>
	      </div>
	    </div>
	  </div>
  </div>
  <div class="container-fluid text-center" style="margin: auto;">
    <a id="mobilemenubtn" class="btn-menu js-menu d-block d-lg-none float-left">
      <div class="lines">
    	  <span></span>
        <span></span>
        <span></span>
      </div>
    </a>
    <div class="menucontent">
      {% include "menu.twig" with {'menu': menu.get_items} %}
      <div class="sub">
      	{% include "footermenu.twig" with {'footermenu': footermenu.get_items} %}
      </div>
      {% include 'partials/socialmedia.twig' %}
    </div>
  </div>
</div>