section.bg-white + section.bg-white,
section.bg-lightgrey + section.bg-lightgrey,
section.bg-white + section.has-bg-white,
section.bg-lightgrey + section.has-bg-lightgrey {
  padding-top: 0;
}

section {
  padding: 20px 0;
  position: relative;
}

section:last-child:not(.bg-dark) {
  padding-bottom: 200px;
}

@include media-breakpoint-up(md) {
  section {
	  padding: 40px 0;
    h2 {
      margin-bottom: 50px;
    }
  }
  section:last-child:not(.bg-dark) {
    padding-bottom: 220px;
  }

}

@include media-breakpoint-up(lg) {
  section {
	  padding: 50px 0;
  }
}